@import '../../Assets/Scss/colors.scss';
@import '../../Assets/Scss/mixin.scss';

header { 
    position: initial;
    margin-right: 20px;

    @media screen and (min-width: 600px) {
        margin-top: 20px;
    }
    @media screen and (min-width: 1000px) {
        position: fixed;
        margin-left: 1em;
    }
    .headerNav {
        & button {
            color: white;
            cursor: pointer;
            background: none;
            border: none;
            @media screen and (min-width: 600px) {
                display: none;
            }
        }
        & ul {
            flex-direction: column;
            align-items: stretch;
            margin-left: 80px;
            margin-top: -40px;
            
            @media screen and (min-width: 600px) {
                flex-direction: row;
                justify-content: center;
                margin: 0;
            }
            @media screen and (min-width: 1000px) {
                flex-direction: column;
                align-items: start;
            }

            & li {
                @include button;
                margin-bottom: 6px;

                @media screen and (min-width: 600px) {
                    margin-right: 20px;
                }
                
                &:hover {
                    @include button-hover;
                }
            }
        }
        &--MenuFerme {
            display: none;

            @media screen and (min-width: 600px) {
                display: flex;
            }  
        }
        &--MenuOuvert {
            @media screen and (min-width: 600px) {
                display: flex;
            }  
    }
        .headerNav-link {
            color: white;
            font-size: 16px;
            padding: 8px 20px;
            display: block;

            @media screen and (min-width: 1000px) {
                font-size: 16px;
            }
            @media screen and (min-width: 1024px) {
                font-size: 20px;
            }
        
            &:hover {
                font-size: 17px;

                @media screen and (min-width: 1000px) {
                    font-size: 17.5px;
                }
                @media screen and (min-width: 1024px) {
                    font-size: 21px;
                }
            }
        }
    }
}