@import '../../Assets/Scss/colors.scss';
@import '../../Assets/Scss/size.scss';

.acces {
    &__image {
        width:nth($list: $percent, $n: 3);
        margin: 50px auto;

        & img {
            width: nth($list: $percent, $n: 2);
            height: 560px;
            object-fit: cover;
        }
    }
}