.home {
    & h1 {
        font-size: 26px;
        text-align: center;
        
        @media screen and (min-width: 600px) {
            font-size: 30px;
        }
        @media screen and (min-width: 1024px) {
        font-size: 40px;
        }
    }
}