body {
    background-color: black;
}

main {
    color: white;
    margin-left: 13%;
}

.headerNav-link, .headerNav ul, li, a {
    list-style-type: none;
    text-decoration: none;
}

ul {
    padding: 0;
}