.headerNav {
    position: fixed;
}
.headerNav ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.headerNav li {
    background-image: linear-gradient(to bottom, #0A0A2A 0%, black 100%);
    border-radius: 6px;
    padding: 10px 20px;
    margin-bottom: 2px;
    box-shadow: 4px 4px 4px 0px #999;
    border: solid 1px #333A40;
    
    &:hover {
        background: #08088A;
    }
}
.headerNav-link {
    color: white;
    font-size: 20px;
}
